.movie_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*position: relative;*/
    /*text-align: center;*/
}



.title_style {
    color: #e73c7e;
    font-weight: 900;
}


img {
    width: 500px;
    height: 100%;
}

img:hover {
    opacity: 0.4;
}

.movie_card:hover {
    transform: scale(0.9);
    transition: 1s;
}

.preview {
    position: absolute;
    font-weight: 700;
    margin-top: 130px;
    margin-left: 35px;

    /*position: absolute;*/
    /*bottom: 50px;*/
    /*left: 35px;*/
    /*opacity: 0;*/
    /*width: 100%;*/
}

.preview:hover {
    opacity: 1;
}



.btn_style {
    border-radius: 5px;
    background-color: aqua;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.text_bfr_details {
    color: orange;
    font-weight: 900;
    font-size: 25px;
}

.text_details {
    font-size: 25px;
    font-weight: 900;
    color: darkgray;
}

.star img {
    height: 15px;
    width: 15px;
}

.rate_wrap {
    display: flex;
}