.movie_card {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.title_style {
    color: #e73c7e;
    font-weight: 900;
}

.darkMode {
    color: white;
}


img {
    width: 500px;
    height: 100%;
}

img:hover {
    filter: brightness(40%);
}

.movie_card:hover {
    transform: scale(0.9);
    transition: 1s;
    cursor: pointer;
}

.preview {
    position: absolute;
    font-weight: 700;
    margin-top: 130px;
    margin-left: 35px;
    display: flex;
    width: 30%;
}

.preview:hover {
    opacity: 1;
}



.btn_style {
    border-radius: 5px;
    background-color: aqua;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50%;
}

.btn_style:hover {
    cursor: pointer;
}

.text_bfr_details {
    color: orange;
    font-weight: 900;
    font-size: 25px;
}

.text_details {
    font-size: 25px;
    font-weight: 900;
    color: darkgray;
}

.star img {
    height: 15px;
    width: 15px;
}

.rate_wrap {
    display: flex;
}
