.wrap {
    background-color: cornflowerblue;
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    font-weight: bold;
}

.color_gold {
    color: gold;
}