.photos_wrap {
    overflow: scroll;
    height: 250px;
    background-color: aqua;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 5px;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #d6d6d6;
    text-shadow: 1px 2px 5px #000;
}