.movie_info {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 40px;
}

.title_wrap {
    margin-top: 50px;
}

.release_wrap {
    margin-top: 20px;
}

.overview {
    text-align: center;
}

.overview_wrap {
    width: 15%;
    margin-top: 10px;
}

.clr_orng {
    color: orange;
}

.genres_wrap {
    margin-top: 10px;
}

.iframe_wrap {
    margin-top: 20px;
}