h5:hover {
    cursor: pointer;
}


.genre {
    background-color: orange;
    padding: 10px;
    border-radius: 3px;
}

.active {
    background-color: orange;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid;
    box-sizing: border-box;
}