.movies_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.pagination {
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn_style {
    background-color: silver;
    border-radius: 3px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isActive {
    background-color: orange;
}