.post_style {
    width: 200px;
    height: 100%;
    background-color: violet;
    margin: 5px 5px;
}

.title_color {
    color: greenyellow;
    font-weight: 900;
}

.body_color {
    color: purple;
}