.background {
    background: url(https://wallpaperaccess.com/full/637645.jpg);
    height: 100vh;
    padding: 10px 0;
}

.characters_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

.characters_wrap img {
    width: 90%;
    height: 60%;
}

.height_auto {
    height: auto;
}

.state_name {
    font-size: 70px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    justify-content: center;
    display: flex;
}